///VARIABLES
$orange: #F6851D;

///FUNCTIONS
@mixin flexBox($direction) {
    display: flex;
    flex-direction: $direction;
}

///STYLES
body {
    padding: 0;
    margin: 0;
    @include flexBox(column);
    align-items: center;

    #root {
        padding: 0;
        margin: 0;
        width: 100%;
        @include flexBox(column);
        align-items: center;

        .App {
            padding: 0;
            margin: 0;
            width: 100%;
            @include flexBox(column);
            align-items: center;
        }
    }
}

@media screen and (min-width: 721px) {
    body {
        
        #root {
            .App {
                
            }
        }
    }
}