///VARIABLES
$orange: #F6851D;
$orangePress: #db6a00;
$orangeHover: #ff9431;

///FUNCTIONS
@mixin flexBox($direction) {
    display: flex;
    flex-direction: $direction;
}

///STYLES
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    @include flexBox(column);
    align-items: center;
    width: 100%;

    .banner {
        margin: 1.2rem 0;
        width: 100%;
        box-shadow: 0px 0px 21px 3px #000000;
        -webkit-box-shadow: 0px 0px 21px 3px #000000;
    }

    h1 {
        font-size: 1.7rem;
        padding: 0.2rem 0;
    }

    .buyProduct {
        width: 100%;
        @include flexBox(row);
        justify-content: center;
        padding: 1rem 0;
        
        img {
            height: 13rem;
            padding-right: 0.5rem;
        }

        .addProduct {
            @include flexBox(column);
            justify-content: space-around;
            align-items: center;
            padding-left: 0.5rem;
            width: 35%;

            p {
                font-size: 2rem;
                text-align: center;
            }

            .countSelect {
                @include flexBox(row);
                align-items: center;
                justify-content: space-between;
                background-color: #C4C4C4;
                border-style: none;
                border-radius: 0.3rem;
                width: 3.5rem;
                padding: 0.5rem 0.6rem;
                font-weight: bold;

                .countButton {
                    border-style: none;
                    background-color: #C4C4C4;
                    font-weight: normal;
                    font-size: 1.2rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }

            .addProductButton {
                background-color: $orange;
                border-style: none;
                border-radius: 0.4rem;
                width: 100%;
                margin: 0.2rem 0 0.5rem 0;
                padding: 0.5rem 0rem;
                font-weight: bold;
                font-size: 1rem;
                color: white;

            }.addProductButton:active {
                background-color: $orangePress;
            }
        }
    }

    .infoBox {
        @include flexBox(row);
        padding: 1rem 0;
        width: 100%;

        .titles, .info {
            width: 100%;
            align-items: center;

            p {
                border-bottom: 1pt solid grey;
                text-align: center;
                font-size: 1.15rem;
                padding-top: 0.5rem;
            }
        }
    }

    .synopsis {
        font-size: 1.55rem;
        padding: 1rem 0;
    }

    .description {
        text-align: center;
        font-style: italic;
        font-size: 1.15rem;
        width: 90%;
        padding: 1rem 0 2rem 0;
    }

    .backButton {
        text-decoration: none;
        background-color: #F6851D;
        color: white;
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin: 2rem 0;
    }.backButton:active {
        background-color: $orangePress;
    }
}

///DESKTOP VERSION
@media screen and (min-width: 721px) {
    main {

        .banner {
            width: 80%;
        }

        h1 {
            font-size: 3.5rem;
            padding: 2rem 0;
        }

        .buyProduct {
            max-width: 60%;
            box-shadow: 0px 0px 21px 3px #000000;
            -webkit-box-shadow: 0px 0px 21px 3px #000000;

            img {
                height: 15rem;
            }

            .addProduct {
                p {
                    font-size: 2.8rem;
                }

                .countSelect {
                    width: 4.5rem;
                    padding: 0.7rem 0.8rem;
                    
                    .countButton {
                        font-size: 1.7rem;
                        cursor: pointer;
                    }

                    p {
                        font-size: 1.7rem;
                    }
                }

                .addProductButton {
                    max-width: 12rem;
                    padding: 0.8rem 0;
                    font-size: 1.3rem;
                    cursor: pointer;
                    transition: .2s;
                }
                .addProductButton:hover {
                    background-color: $orangeHover;
                }.addProductButton:active {
                    background-color: $orangePress;
                }
            }
        }

        .infoBox {
            max-width: 50%;

            .titles, .info {
                
                p {
                    border-bottom: 1pt solid grey;
                    font-size: 1.3rem;
                    padding-top: 1rem;
                }
            }
        }

        .synopsis {
            font-size: 2rem;
            font-style: italic;
        }

        .description {
            font-style: italic;
            font-size: 1.4rem;
        }

        .backButton {
            font-size: 1.5rem;
            transition: .2s;
        }.backButton:hover {
            background-color: $orangeHover;
        }.backButton:active {
            background-color: $orangePress;
        }
    }
}