///VARIABLES
$orange: #F6851D;

///FUNCTIONS
@mixin flexBox($direction) {
    display: flex;
    flex-direction: $direction;
}

///STYLES
.productList {
    @include flexBox(column);
    justify-content: center;
}

@media screen and (min-width: 721px) {
    .productList {
        width: 95%;
        @include flexBox(row);
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 2rem;
        margin: 0 auto;
        padding-top: 5rem;
    }
}