///VARIABLES
$orange: #F6851D;
$orangePress: #db6a00;
$orangeHover: #ff9431;


///FUNCTIONS
@mixin flexBox($direction) {
    display: flex;
    flex-direction: $direction;
}

///STYLES
* {
    font-family: Arial, Helvetica, sans-serif;
}

.paymentForm {
    @include flexBox(column);
    justify-content: center;
    align-items: center;
    width: 95%;

    h2 {
        text-align: center;
        padding: 1rem 0;
    }

    .purchaseInformation {
        width: 95%;
        @include flexBox(column);
        align-items: center;
        justify-content: center;

        .purchasedCheck {
            text-decoration: underline;
        }

        .paymentList {
            width: 100%;
            @include flexBox(column);

            article {
                @include flexBox(column);
                justify-content: space-between;

                .titlePurchase {
                    font-size: 0.9rem;
                    font-style: italic;
                    padding-top: 1rem;
                }

                article {
                    @include flexBox(row);
                    justify-content: space-between;
                    border-bottom: 1pt solid grey;

                    p {
                        font-size: 0.9rem;
                        font-style: italic;
                    }
                }
            }
        }

        .totalPurchase {
            padding-top: 1.5rem;
            font-weight: bold;
            font-size: 1.2rem;
            align-self: flex-end;
        }
    }

    h2 {
        text-align: center;
        padding: 1rem 0;
    }

    form {
        @include flexBox(column);

        label {
            font-size: 0.8rem;
            padding-top: 0.5rem;
            font-weight: bold;
        }
        input {
            border-style: none;
            background-color: $orange;
            padding: 0.5rem;
            border-radius: 1rem;
            font-weight: bold;
            font-size: 0.8rem;
            color: white;
            transition: .2s;
        }input:focus {
            background-color: white;
            color: black;
        }

        .buttonSubmit {
            margin: 2rem 0;
            padding: 1rem;
            font-size: 1rem;
            border-radius: 2rem;
            background-color: white;
            border: 2pt solid $orange;
            color: $orange;
            transition: .2s;
        }.buttonSubmit:active {
            background-color: $orangePress;
            color: white;
        }
    }
    
    .exitButton {
        text-decoration: none;
        background-color: #F6851D;
        color: white;
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin: 2rem 0;
        max-width: 5rem;
    }.exitButton:active {
        background-color: $orangePress;
    }

    .modal.isEnabled {
        @include flexBox(column);
        align-items: center;
    }
    .modal.false {
        display: none;
    }

    .modal {
        position: fixed;
        z-index: 10;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.493);

        .modalContainer {
            @include flexBox(column);
            align-items: center;
            position: relative;
            top: 2.5%;
            width: 95%;
            height: 95vh;
            background-color: white;
            box-shadow: 0px 0px 21px 3px #000000;
            -webkit-box-shadow: 0px 0px 21px 3px #000000;
            overflow-y: scroll;

            i {
                align-self: flex-end;
                font-size: 1.5rem;
                padding: 1rem;
                color: rgb(196, 7, 7);
                transition: .2s;
            }i.active {
                color: rgb(151, 6, 6);;
            }

            h2 {
                font-size: 1.5rem;
            }

            .purchasedList {
                @include flexBox(column);
                align-items: center;
                width: 90%;
                
                .clientInformationTitle {
                    font-weight: bold;
                    font-size: 1rem;
                    align-self: flex-start;
                    text-decoration: underline;
                    padding-top: 0.5rem;
                }

                .client {
                    @include flexBox(row);
                    justify-content: space-between;
                    width: 95%;
                    padding: 0.5rem 0;

                    .clientTitles {
                        p {
                            padding-top: 0.5rem;
                            font-style: italic;
                            font-weight: bold;
                            font-size: 0.8rem;
                        }
                    }

                    .clientInformation {
                        p {
                            padding-top: 0.5rem;
                            font-style: italic;
                            font-size: 0.8rem;
                        }
                    }
                }

                .orderTitles {
                    @include flexBox(row);
                    justify-content: space-between;
                    width: 95%;
                    padding-top: 1.3rem;

                    p {
                        text-decoration: underline;
                        font-weight: bold;
                        font-size: 0.9rem;
                    }
                }

                .productDetailsList {
                    width: 90%;
                    @include flexBox(column);
                    padding-top: 1rem;
                    row-gap: 0.7rem;

                    .productDetails {
                        width: 100%;
                        @include flexBox(column);
                        border-bottom: 2pt solid silver;

                        .productName {
                            font-size: 0.8rem;
                            font-style: italic;
                        }

                        article {
                            width: 100%;
                            @include flexBox(row);
                            justify-content: space-between;

                            p {
                                font-size: 0.8rem;
                                font-style: italic;
                            }
                        }
                    }
                }

                .orderTotal {
                    padding: 2rem 1rem;
                    align-self: flex-end;
                    font-size: 1.3rem;

                    span {
                        font-weight: bold;
                    }
                }
            }
            
            .bye {
                padding-bottom: 3rem;
                font-size: 1.6rem;
                font-weight: bold;
            }
        }
    }
}

///DESKTOP VERSION
@media screen and (min-width: 721px) {
    .paymentForm {
        max-width: 70%;

        h2 {
            font-size: 2.3rem;
            padding: 2rem 0;
        }

        .purchaseInformation {
            .purchasedCheck {
                font-size: 1.4rem;
            }
            .paymentList {
                article {
                    .titlePurchase {
                        font-size: 1.1rem;
                        padding-top: 1.3rem;
                    }

                    article {
                        p{
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            .totalPurchase {
                font-size: 1.6rem;
                padding-top: 2rem;
            }
        }

        h2 {
            padding: 2rem 0;
        }

        form {
            display: grid;
            grid-template-columns: 0.5fr 2fr; 
            grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 1fr; 
            gap: 1em 0;
            grid-template-areas: 
                ". ."
                ". ."
                ". ."
                ". ."
                ". .";

            label {
                font-size: 1.1rem;
                padding-top: 1.1rem;
            }

            input {
                padding: 1rem;
                border-radius: 2rem;
                font-size: 1.1rem;
            }

            .buttonSubmit {
                font-size: 1.1rem;
                cursor: pointer;
                transition: .2s;
            }.buttonSubmit:hover {
                background-color: $orangeHover;
                color: white;
            }.buttonSubmit:active {
                background-color: $orangePress;
                color: white;
            }
        }

        .exitButton:hover {
            background-color: $orangeHover;
        }.exitButton:active {
            background-color: $orangePress;
        }

        
        .modal.isEnabled {
            @include flexBox(column);
            align-items: center;
        }
        .modal.false {
            display: none;
        }

        .modal {
            position: fixed;
            z-index: 10;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.493);

            .modalContainer {
                @include flexBox(column);
                align-items: center;
                position: relative;
                top: 2.5%;
                width: 70%;
                background-color: white;
                box-shadow: 0px 0px 21px 3px #000000;
                -webkit-box-shadow: 0px 0px 21px 3px #000000;
                overflow-y: scroll;

                i {
                    align-self: flex-end;
                    font-size: 1.5rem;
                    padding: 1rem;
                    color: rgb(196, 7, 7);
                    transition: .2s;
                }i:hover {
                    color: red;
                }i.active {
                    color: rgb(151, 6, 6);;
                }

                h2 {
                    font-size: 2rem;
                }

                .purchasedList {
                    @include flexBox(column);
                    align-items: center;
                    width: 90%;
                    
                    .clientInformationTitle {
                        font-weight: bold;
                        font-size: 1.2rem;
                        align-self: flex-start;
                        text-decoration: underline;
                    }

                    .client {
                        @include flexBox(row);
                        justify-content: space-between;
                        width: 90%;
                        padding: 1rem 0;

                        .clientTitles {
                            p {
                                padding-top: 0.5rem;
                                font-style: italic;
                                font-weight: bold;
                                font-size: 0.9rem;
                            }
                        }

                        .clientInformation {
                            p {
                                padding-top: 0.5rem;
                                font-style: italic;
                                font-size: 0.9rem;
                            }
                        }
                    }

                    .orderTitles {
                        @include flexBox(row);
                        justify-content: space-between;
                        width: 95%;
                        padding-top: 1.3rem;

                        p {
                            text-decoration: underline;
                            font-weight: bold;
                            font-size: 1.2rem;
                        }
                    }

                    .productDetailsList {
                        width: 90%;
                        @include flexBox(column);
                        padding-top: 1rem;
                        row-gap: 1rem;

                        .productDetails {
                            width: 100%;
                            @include flexBox(column);
                            border-bottom: 2pt solid silver;

                            .productName {
                                font-size: 0.9rem;
                                font-style: italic;
                            }

                            article {
                                width: 100%;
                                @include flexBox(row);
                                justify-content: space-between;

                                p {
                                    font-size: 0.9rem;
                                    font-style: italic;
                                }
                            }
                        }
                    }

                    .orderTotal {
                        padding: 2rem 2rem;
                        align-self: flex-end;
                        font-size: 1.5rem;

                        span {
                            font-weight: bold;
                        }
                    }
                }
                
                .bye {
                    padding-bottom: 4rem;
                    font-size: 2.2rem;
                    font-weight: bold;
                }
            }
        }
    }
}