///VARIABLES
$orange: #F6851D;
$orangePress: #db6a00;
$orangeHover: #ff9431;


///FUNCTIONS
@mixin flexBox($direction) {
    display: flex;
    flex-direction: $direction;
}

///STYLES
* {
    font-family: Arial, Helvetica, sans-serif;
}

.productElement {
    width: 14rem;
    border: 1.5pt solid black;
    @include flexBox(column);
    border-radius: 0 0 0.8rem 0.8rem;
    margin-bottom: 1.5rem;

    .flipIcon {
        position: absolute;
        z-index: 1;
        padding: 0.3rem;
        width: 1.3rem;
        align-self: flex-end;
        background-color: #D3D3D3;
        border-radius: 20%;
        opacity: 70%;
    }

    .coverAndTextForRotate {
        width: 100%;
        perspective: 50rem;
        border-bottom: 1.5pt solid black;

        .container {
            width: 100%;
            height: 17.5rem;
            transform-style: preserve-3d;
            position: relative;
            transition: transform .75s cubic-bezier(0.4, 0.03, 0.5, 0.9);
            
            section.cover.hovereado {
                transform: rotate3d(0,1,0, 180deg);
            }
            img.cover.hovereado {
                transform: rotate3d(0,1,0, 180deg);
            }

            .cover {
                width: 100%;
                height: 100%;
                padding: 0;
                position: absolute;
                inset: 0;
                object-fit: cover;
                backface-visibility: hidden;
                @include flexBox(column);
                justify-content: flex-start;

                .gameTitle {
                    margin: 0;
                    padding: 0.5rem 0;
                }
                
                .information {
                    @include flexBox(row);
                    width: 90%;
                    padding: 0.5rem 0 0 0;

                    .informationTitle, .informationDetails {
                        @include flexBox(column);
                        align-items: flex-start;
                        padding: 0;
                        
                        p {
                            text-align: left;
                            font-size: 0.8rem;
                            margin: 0;
                        }
                    }
                }
                .descriptionTitle {
                    align-self: flex-start;
                    padding-left: 5%;
                    padding-bottom: 0.5rem;
                    margin: 0;
                    font-size: 0.8rem;
                }

                .description {
                    width: 90%;
                    margin: 0;
                    padding: 0.5rem 0;
                    height: 100%;
                    text-align: center;
                    font-size: 0.9rem;
                    justify-content: center;
                    word-wrap: break-word;
                }
            }
        }
        
    }

    section {
        @include flexBox(column);
        align-items: center;

        section {
            @include flexBox(row);
            justify-content: space-between;
            width: 75%;
            padding: 0.3rem 0;

            .priceCard {
                margin: 0;
                font-weight: bold;
                font-size: 1.6rem;
            }

            .countSelect {
                @include flexBox(row);
                align-items: center;
                justify-content: space-between;
                background-color: #C4C4C4;
                border-style: none;
                border-radius: 0.3rem;
                width: 3.5rem;
                padding: 0.5rem 0.6rem;
                font-weight: bold;

                .countButton {
                    border-style: none;
                    background-color: #C4C4C4;
                    font-weight: normal;
                    font-size: 1.2rem;
                }
            }
        }

        .addButton {
            background-color: $orange;
            border-style: none;
            border-radius: 0.4rem;
            width: 75%;
            margin: 0.2rem 0 0.5rem 0;
            padding: 0.5rem 0;
            font-weight: bold;
            font-size: 1rem;
            color: white;

            .fa-cart-shopping {
                padding-left: 1.1rem;
            }
        }
        .addButton:active {
            background-color: $orangePress;
        }
    }
}

///DESKTOP VERSION
@media screen and (min-width: 721px) {
    .productElement {
        .flipIcon {
            display: none;
        }

        .coverAndTextForRotate {
            width: 100%;
            perspective: 50rem;
    
            .container {
                width: 100%;
                height: 17.5rem;
                transform-style: preserve-3d;
                position: relative;
                transition: transform .75s cubic-bezier(0.4, 0.03, 0.5, 0.9);
                
                .cover {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    inset: 0;
                    object-fit: cover;
                    backface-visibility: hidden;
                    background-color: white;
                }
            }
            .cover:nth-child(2), .container:hover {
                transform: rotate3d(0,1,0, 180deg);
            }
        }

        section {
            section {
                .countSelect {
                    .countButton {
                        cursor: pointer;
                    }
                }
            }

            .addButton {
                cursor: pointer;
                transition: .2s;
            }
            .addButton:hover {
                background-color: $orangeHover;
            }
            .addButton:active {
                background-color: $orangePress;
            }
        }
    }
}

/*
.coverAndTextForRotate {
        width: 100%;
        perspective: 50rem;

        .container {
            width: 100%;
            height: 17.5rem;
            transform-style: preserve-3d;
            position: relative;
            transition: transform .75s cubic-bezier(0.4, 0.03, 0.5, 0.9);
            
            .cover {
                width: 100%;
                height: 100%;
                position: absolute;
                inset: 0;
                object-fit: cover;
                backface-visibility: hidden;
            }
        }
        .cover:nth-child(2), .container:hover {
            transform: rotate3d(0,1,0, 180deg);
        }

*/